<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <add key="counter_limit" value="20"/>
    <add key="BaseDir" value="C:\tmp\DHA\"/>
    <add key="username" value="dha_eclaim_usr"/>
    <add key="password" value="FM8sLBnWvK"/>
    <add key="URL" value="https://api.dubai.gov.ae"/>
    <add key="Link" value="/secure/dha/sheryan/getprofessionals/1.0.0/level3"/>
    <add key="AbslouteFilename" value="C:\tmp\sample_sheryan.json"/>
    <add key="DirectoryPath"  value="C:\tmp\DHA\Files\"/>

    <add key="LMU_QA_Username" value="faisal"/>
    <add key="LMU_QA_Token" value="Z1aGN9r9-4jb1dGCR-b71qJYKg"/>

    <add key="LMU_Prod_Username" value="fansari"/>
    <add key="LMU_Prod_Token" value="UbPkuwPQdOuqQo9wKkh8nLtYwTqSiGsP"/>


    <!--https://uat.lmuregistry.com-->
    <!--http://lmu.dimensions-healthcare.com-->
    
    <add key="LMU_URL" value="http://lmu.dimensions-healthcare.com"/>
    <add key="LMU_Clinician_Latest" value="/LMUCore/api/data-registry/Clinicians/lastVersion"/>
    <add key="LMU_Specialities_Latest" value="/LMUCore/api/data-registry/SpecialtiesList/lastVersion"/>

    <!--<add key="LMU_Clinician" value="/LMUCore/api/data-registry/Clinicians/updated"/>-->
    <add key="LMU_Clinician" value="/LMUCore/api/data-registry/Clinicians/repositories"/>
    <add key="LMU_Specialities" value="/LMUCore/api/data-registry/SpecialtiesList/updated"/>



    <add key="RunbyDate" value="false"/>
    <add key="Str_startDate" value="2020-05-16"/>
    <add key="RunByFiles" value="false"/>
    <add key="RunBySample" value="false"/>
    <add key="RunByUniqueId" value ="true"/>
    <add key="RunbyDaily" value="false"/>
    <add key ="MaxID" value ="90000"/>

    <add key="FTPUsername" value="ftplmu"/>
    <add key="FTPPassword" value="ftplmu"/>
    <add key="FTPLocalPath" value="/Clinicians/Pending"/>
    <add key="FTPHost" value="10.162.176.121"/>



  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>